<%= form_for(@customer_detail) do |f| %>
  <% if @customer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_detail.errors.count, "error") %> prohibited this customer_detail from being saved:</h2>

      <ul>
      <% @customer_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customerID %><br>
    <%= f.number_field :customerID %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.number_field :dob %>
  </div>
  <div class="field">
    <%= f.label :telNumber %><br>
    <%= f.number_field :telNumber %>
  </div>
  <div class="field">
    <%= f.label :street %><br>
    <%= f.text_field :street %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :postCode %><br>
    <%= f.text_field :postCode %>
  </div>
  <div class="field">
    <%= f.label :licenceType %><br>
    <%= f.text_field :licenceType %>
  </div>
  <div class="field">
    <%= f.label :licenceHeldSince %><br>
    <%= f.text_field :licenceHeldSince %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :quotesStored %><br>
    <%= f.number_field :quotesStored %>
  </div>
  <div class="field">
    <%= f.label :incidents %><br>
    <%= f.number_field :incidents %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
