<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.number_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :incident_id %><br>
    <%= f.number_field :incident_id %>
  </div>
  <div class="field">
    <%= f.label :vehicleReg %><br>
    <%= f.text_field :vehicleReg %>
  </div>
  <div class="field">
    <%= f.label :estimatedMileage %><br>
    <%= f.number_field :estimatedMileage %>
  </div>
  <div class="field">
    <%= f.label :estimatedVehicleValue %><br>
    <%= f.number_field :estimatedVehicleValue %>
  </div>
  <div class="field">
    <%= f.label :parkingLocation %><br>
    <%= f.text_field :parkingLocation %>
  </div>
  <div class="field">
    <%= f.label :policyExcess %><br>
    <%= f.number_field :policyExcess %>
  </div>
  <div class="field">
    <%= f.label :breakdownCover %><br>
    <%= f.check_box :breakdownCover %>
  </div>
  <div class="field">
    <%= f.label :windscreenCover %><br>
    <%= f.check_box :windscreenCover %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
