<h1>Listing quotes</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Incident</th>
      <th>Vehiclereg</th>
      <th>Estimatedmileage</th>
      <th>Estimatedvehiclevalue</th>
      <th>Parkinglocation</th>
      <th>Policyexcess</th>
      <th>Breakdowncover</th>
      <th>Windscreencover</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer_id %></td>
        <td><%= quote.incident_id %></td>
        <td><%= quote.vehicleReg %></td>
        <td><%= quote.estimatedMileage %></td>
        <td><%= quote.estimatedVehicleValue %></td>
        <td><%= quote.parkingLocation %></td>
        <td><%= quote.policyExcess %></td>
        <td><%= quote.breakdownCover %></td>
        <td><%= quote.windscreenCover %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>
